# Default ignored files
/shelf/
.idea/
SaithyGames/maven-version-rules.xml
SaithyGames/pom.xml.versionsBackup
# Datasource local storage ignored files
/../../../../../../:\Users\PTokarev\IdeaProjects\SaithyGames\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
